[submodule "data/scenes"]
	path = data/scenes
	url = https://github.com/emcaruso/scenes.git
[submodule "src/LightCalib"]
	path = src/LightCalib
	url = https://github.com/emcaruso/LightCalib.git
[submodule "src/ConveyorPoseEstimator"]
	path = src/ConveyorPoseEstimator
	url = https://github.com/emcaruso/ConveyorPoseEstimator.git
[submodule "src/Calibration"]
	path = src/Calibration
	url = https://github.com/emcaruso/Calibration.git
